In [0]:
import org.apache.spark.sql.hive.HiveContext

In [1]:
val sqlContext = new HiveContext(sc)

In [2]:
import sqlContext.implicits._

In [3]:
val filedata = sqlContext
        .read
        .csv("hdfs://node-master:9000/project/tiki/product_data_file.csv")

In [4]:
filedata.show(3)

In [5]:
val new_filedata = filedata.withColumnRenamed("_c0", "discount")
    .withColumnRenamed("_c1", "discount_rate")
    .withColumnRenamed("_c2", "name")
    .withColumnRenamed("_c3", "original_price")
    .withColumnRenamed("_c4", "price")
    .withColumnRenamed("_c5", "rating_average")
    .withColumnRenamed("_c6", "review_count")
    .withColumnRenamed("_c7", "quantity_sold")

In [6]:
new_filedata.show(3)

In [7]:
new_filedata.registerTempTable("datatable")

In [8]:
val productdata = spark.sql("select * from datatable where discount != 'discount'")

In [9]:
productdata.show(3)

In [10]:
productdata.dtypes.foreach(println)

In [11]:
val pdata = productdata.withColumn("discount", col("discount").cast("int"))
            .withColumn("discount_rate", col("discount_rate").cast("float"))
            .withColumn("original_price", col("original_price").cast("int"))
            .withColumn("price", col("price").cast("int"))
            .withColumn("rating_average", col("rating_average").cast("float"))
            .withColumn("review_count", col("review_count").cast("int"))
            .withColumn("quantity_sold", col("quantity_sold").cast("int"))

In [12]:
pdata.dtypes.foreach(println)

In [13]:
pdata.registerTempTable("data_table")

In [14]:
%sql
select count(*) as discount_count, discount_rate
from data_table
group by discount_rate
order by discount_rate asc

In [15]:
%sql
select count(*) as price_count, price
from data_table
group by price

In [16]:
%sql
select count(*) as rating_count, rating_average
from data_table
group by rating_average

In [17]:
%sql
select count(*) as rating_count, rating_average
from
(
    select * from data_table 
    where rating_average <= 5
)
group by rating_average
order by rating_average

In [18]:
%sql
select * from datatable 
where review_count == 
(
    select max(int(review_count)) from datatable
    where review_count != "null"
    and review_count != "review_count"
    and not (review_count like "va%")
)

In [19]:
%sql select * from datatable
order by int(quantity_sold) desc
limit 10

In [20]:
%%sql